.Cart__Item{
    display: flex;
    border-bottom: 2px solid #DDD;
    
}   

.Image__Container{
    margin-top:10px;
    height:200px;
    width:200px;
    flex-shrink: 0;
    flex-grow:0;
    margin-right:20px;
    margin-bottom: 15px;
    
}

.Image__Container img{
    object-fit: contain;
    height:100%;
    width: 100%;

}

.ItemInfo{
    
    margin-top:10px;
    flex-grow:1;
}

.Pricing{
    
    margin-top:10px;
    margin-left:20px;
    font-size:18px;
    font-weight:700;
}

.ItemTopInfo{
    color:#007185;
}

.ItemTopInfo h2{
   
    font-size: 18px;
}


.ItemBottomInfo{
    display: flex;
    margin-top: 5px;
}

.ItemBottomDeleteInfo{
    margin-top:5px;
    margin-left:20px;
    color:#007185;
    cursor: pointer;
}

.ItemBottomQuantityInfo select{
   
   border-radius: 999px;
   background-color: #f0f2f2;
   padding:10px;
   box-shadow: 0 2px 5px rgba(15, 17,17,.15);
}
.ItemBottomQuantityInfo select:focus{
    outline: none;
}