.CartItems__Container{
    padding:20px;
    flex:0.8;
    background-color: white;
    margin-top:20px;
    margin-right:20px;
    margin-left:20px;
    margin-bottom: 20px;
    border-radius:10px;
}
.Title{
    margin-bottom:8px;
}